# Tệp log và các tệp sinh ra trong quá trình build của LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.xdv
*.nav
*.snm
*.vrb

# Tệp PDF nếu bạn không muốn push lên Git (nếu muốn giữ thì xóa dòng này đi)
# *.pdf

# Các tệp tạm khác
*.txt
